body{
 background: url("https://images.unsplash.com/photo-1677941931332-3bcf18b0a1ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc1fHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
 background-size: cover;
 background-position: top left;
 background-repeat: no-repeat;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
button {
 width: 150px; /* set a fixed width */
 white-space: nowrap; /* prevent text wrapping */
 overflow: hidden; /* hide any overflow */
 text-overflow: ellipsis;

 
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(24, 8, 18, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

body{
 display: flex;
 align-items: center;
 justify-content: center;
}

.options{
 display: flex;
 align-items: center;
 flex-wrap: wrap;

 gap: 10px;
 margin: 5px;
 padding: 5px;
}

.overlayContainer{
 position: fixed; /* Sit on top of the page content */
  
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

 background: linear-gradient(0deg, #00000000 30%, #4c0000eb 100%);
}
